.Users{
    /* background-color: rgb(186, 115, 115); */
    display: flex;
    flex-direction: column;
   
    align-items: center;
    justify-content: center;
}
.Users__wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}